h2{
    text-align: center;
}
a.gitbook-link{
    display:none !important;
}
.max-h-100 {
    max-height:100px;
}

.max-h-300 {
    max-height:300px;
}

p {
    text-indent: 2em;
}
blockquote p{
    text-indent: 0em;
}
